<!DOCTYPE html >
<html lang="jp" style="background:#00FF00;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/top.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/explosion.css" />
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
  <header>回答中</header>
  <div class="contain">
    <div class="item item1">
      <span class="item_label"></span>
    </div>
    <div class="item item2">
      <span class="item_label"></span>
    </div>
  </div>   
  <script type="text/javascript" src="javascripts/screen.js"></script>
  <script type="text/javascript" src="javascripts/explosion.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</body>
</html>
